<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Deje que gestionemos sus redes sociales para que esté donde están sus clientes</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Marketing</h4>
		    <p class="text-muted">Let us manage your social presence on the web. Meet and engage with customers on the networks they use daily.
		    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Atención al cliente</h4>
		    <p class="text-muted">Your customers are talking about you on social media -- are you answering? Social media customer service is all about convenience for your customers.
		    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Captación cliente</h4>
		    <p class="text-muted">Looking to grow your email list? Need help reaching a new market? We'll design a campaign to connect with your ideal customers, anywhere in the world.
		    </p>
                </div>
            </div>
        </div>
    </section>
