<!-- Services Section -->
<section id="services">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Servicios</h2>
			<h3 class="section-subheading text-muted">Gestionamos sus redes sociales para que esté siempre donde está su cliente</h3>
		</div>
	</div> <!-- row -->
	<div class="row text-center">
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-comments fa-stack-1x fa-inverse"></i>
			</span>
			<h4 class="service-heading">Lead Generation</h4>
			<p class="text-muted">Quiere potenciar sus ventas? Llegar a su cliente objetivo? Entrar en un nuevo mercado internacional? Generamos leads de nuevos clientes de forma masiva en cualquier lugar del mundo mediante campañas de Marketing Online, Redes Sociales, Marketing de Afiliación, Email, SMS, Whastapp ...</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
			</span>
			<h4 class="service-heading">Social Customer Care</h4>
			<p class="text-muted">Su cliente ya está en hablando de su empresa en Redes Sociales…está contestándole? Es imprescindible contar con un Servicio de Atención al Cliente en Redes Sociales. Gestionamos de forma profesional su Twitter, Skype, Chat, Whatasapp las 24 horas del día y 365 días al año.</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-users fa-stack-1x fa-inverse"></i>
			</span>
			<h4 class="service-heading">Social Media</h4>
			<p class="text-muted">Cómo aumento mis seguidores en Facebook para generar más ventas? Gestionamos su presencia en Redes Sociales posicionando su marca para que sea líder en el sector online. Gestionamos su Facebook, Instagram, Linkedin, Twitter, Google+</p>
		</div>
	</div> <!-- row -->
	<hr />
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Marketing 360º Omnicanal</h2>
			<h3 class="section-subheading text-muted">Dime le ayuda a realizar sus proyectos de Marketing en los distintos canales tanto off como online:</h3>
			<ul>
				<li>Social Media</li>
				<li>Mobile Business</li>
				<li>Websites/ landing pages</li>
				<li>Contact Center</li>
				<li>Ecommerce</li>
			</ul>

		</div>
	</div> <!-- row -->
</div> <!-- container -->
</section> <!-- services -->
